nav {
    width: 100%;
    position: sticky;
    top: 0;
    height: 55px;
    background-color: rgb(37,37,46);
    display: flex;
    font-family: 'Lobster', cursive;
    z-index: 1000;

    .logo {
        margin: auto auto auto 15px;
        opacity: 1;
        font-weight: bold;
        font-size: 33px;
    }
}