nav {
    width: 100%;
    position: sticky;
    top: 0;
    height: 55px;
    display: flex;
    font-family: 'Lobster', cursive;
    z-index: 1000;

    .logo {
        margin: auto auto auto 15px;
        opacity: 1;
        font-weight: bold;
        font-size: 33px;
    }

    .buttons {
        margin: auto 15px auto auto;
        font-family: 'Poppins', sans-serif !important;
        height: 85%;
        display: flex;

        i {
            margin: auto 10px auto auto;
            font-size: 24px;
        }
        span {
            margin: auto;
        }
    }
}