.card { 
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    cursor: pointer;
    margin-bottom: 10px;

    @media (max-width: 1330px) {
        max-width: 375px;
        margin-bottom: 25px !important;
    }
    @media (max-width: 620px) {
        margin: auto;
    }

    &:hover {
        box-shadow: 2px 2px rgba(36, 141, 228, 0.75);
        -webkit-box-shadow: 0 0 5px 2px rgba(36, 141, 228, 0.75);
        -moz-box-shadow: 0 0 5px 2px rgba(36, 141, 228, 0.75);
        box-shadow: 0 0 5px 2px rgba(36, 141, 228, 0.75);
    }

    .captain {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    

        .viewers {
            background-color: rgba(0,0,0,.75);
            position: absolute;
            top: 5px;
            left: 5px;
            padding: 2px 2px;
            border-radius: 5px;
            font-size: 14px;
            display: flex;
            text-align: center;
            color: #eee;

            i {
                color: #eee;
                margin: auto;
            }
            span {
                padding: px 2px;
                margin: auto auto auto 5px;
            }
        }
        .image {
            height: 200px;
            width: 100%;
            
            img, iframe {
                height: 100%;
                width: 100% !important;
            }
        }

        .streamer-info {
            display: flex;
            width: 100%;
            height: 100%;

            img {
                margin: auto 0 auto 10px;
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }   

            .info {
                margin: 10px 0 10px 10px;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                
            .title {
                font-weight: bold;
            }
            span {
                font-size: 14px;
            }
            }
        }

    }
}