.list-parent {
    height: calc(100vh - 65px);
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-right: 1px solid rgba(55, 65, 80, .45);


    @media (max-width: 1250px) {
        display: none;
    }

    h4 {
        margin-left: 5px;
    }

    .list {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        img {
            margin: auto;
            height: 35px;
            width: 35px;
        }

        .stream-list {
            display: flex;
            margin: 5px;
            padding: 5px 5px;


        }

        .stream-info {
            display: flex;
            flex-direction: column;
            margin-left: 5px;
            width: 100%;
            position: relative;

            .name {
                text-transform: capitalize;
            }

            .isplaying {
                opacity: .75;
                font-size: 12px;
            }

            .viewer-count {
                position: absolute;
                right: 5px;
                bottom: 5px;
                font-size: 12px;
                opacity: .75;
            }
        }

        .header {
            padding: 10px 10px;
            display: flex;

            h4 {
                padding: 0;
                margin: 0;
            }

            span {
                margin: auto 5px 0 auto;
                cursor: pointer;
            }
        }
    }
}